/*Css de l'application phénotypage  */

/* Titre */
h1 {
	font-family: Verdana, Arial, sans-serif;
	text-shadow: 3px 0px 2px rgba(19, 36, 1, 0.75);
	/* color: #026702; */
	color: #211276;
	font-size: 250%;
}

h1.modif {
	font-family: Verdana, Arial, sans-serif;
	text-shadow: 3px 0px 2px rgba(19, 36, 1, 0.75);
	text-shadow: 3px 0px 2px rgba(37, 115, 18, 0.75);
	color: #211276;
}

h2 {
	font-family: Verdana, Arial, sans-serif;
	text-shadow: 3px 0px 2px rgba(37, 115, 18, 0.50);
	font-family: Arial, sans-serif;
	color: #1a75ff;
	/* color: #00b300; */
	font-size: 200%;
}

h1, h2 {
	text-align: center;
}

/* Menu */
#menu {
	margin-bottom: 6%;
}

#menu input {
	position: fixed;
	top: 8px;
	right: 16px;
}

#menu a {
	position: fixed;
	top: 8px;
	left: 16px;
}

#menu a.accueil {
	background: #4fe55a;
	background: -webkit-linear-gradient(#4fe55a, #0d5b0d);
	background: linear-gradient(#4fe55a, #0d5b0d);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 8px 20px;
	font: normal 700 35px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
}

#menu a.accueil:hover {
	background: #9be08d;
	background-image: -webkit-linear-gradient(top, #9be08d, #10b510);
	background-image: -moz-linear-gradient(top, #9be08d, #10b510);
	background-image: -ms-linear-gradient(top, #9be08d, #10b510);
	background-image: -o-linear-gradient(top, #9be08d, #10b510);
	background-image: linear-gradient(to bottom, #9be08d, #10b510);
	text-decoration: none;
}

#menu input.retour {
	background: #ef7575;
	background: -webkit-linear-gradient(#ef7575, #b31616);
	background: linear-gradient(#ef7575, #b31616);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 8px 20px;
	font: normal 700 35px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	border: none;
}

#menu input.retour:hover {
	background: #ffa6a6;
	background: -webkit-linear-gradient(#ffa6a6, #d33838);
	background: linear-gradient(#ffa6a6, #d33838);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 8px 20px;
	font: normal 700 35px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	border: none;
}
/*---------------*/

/* Partie Centrale de l'index */
#partieCentraleIndex {
	background: #80ff80;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #424142;
	padding: 2%;
}

#partieCentraleIndex table {
	border-collapse: separate;
	border-spacing: 5px 5px;
	width: 100%;
	height: 100%;
}

#partieCentraleIndex td {
	text-align: left;
/* 	width: 100%;
	height: 100%; */
	border-radius: 5px;
	font-size: 225%;
	/* margin: 10px; */
	background: #179018;
	background: -webkit-linear-gradient(#179018, #14521d);
	background: linear-gradient(#179018, #14521d);
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	background: -webkit-linear-gradient(#179018, #14521d);
	background: linear-gradient(#179018, #14521d);
}

#partieCentraleIndex td:hover {
	background: #003300;
}

#partieCentraleIndex a {
	text-decoration: none;
	color: #b3ffb3;
	display: block;
	height: 100%;
	widht: 100%;
}

/*--------------------------------------*/

/* Partie centrale autre */
#partieCentrale {
	background: #80ff80;
	color: #1f004d;
	margin-left: 7%;
	margin-right: 7%;
	witdh:86%;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #424142;
	padding: 1%;
	oveflow:hidden;
}

/* lien de la page d'accueil*/
#partieCentrale a {
	text-decoration: none;
	color: #b3ffb3;
	font-size: 250%;
	border-radius: 5px;
	text-align: left;
	display: block;
	height: 100%;
	widht: 100%;
	font-size: 200%;
	background: #54d852;
	background: -moz-linear-gradient(top, #54d852 0%, #106d16 100%);
	background: -webkit-linear-gradient(top, #54d852 0%, #106d16 100%);
	background: linear-gradient(to bottom, #54d852 0%, #106d16 100%);
}

/* #partieCentrale table {
	border-spacing: 5px;
}

#partieCentrale td {
	text-align: left;
	width: 50%;
	height: 100%;
	background: #54d852;
	font-size: 255%;
	margin: 10px;
}

#partieCentrale a {
	text-decoration: none;
	color: #b3ffb3;
} */
/*----------------------------------*/
/* formulaire */
form {
	margin-top: 4px;
	margin-bottom: 15px;
}

fieldset {
	border: 1px solid #1f004d;
}

legend {
	font-size: 150%;
	color: #1f004d;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #bbb
}

th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #bbb;
	color: #594F4F;
	background-color: #E0FFEB;
}

td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #bbb;
	color: #493F3F;
	background-color: #9DE0AD;
}

table.sansbordure {
	broder: 0px;
}

select.tailleG {
	width: 150px;
}

textarea {
	resize: none;
}

td.headermodif {
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #bbb;
	color: #594F4F;
	background-color: #E0FFEB;
}

label {
	font-family: Arial, sans-serif;
	color: #1f004d;
}

/*Boutton valider*/
input.valider {
	background: #5252e7;
	background: -webkit-linear-gradient(#5252e7, #151568);
	background: linear-gradient(#5252e7, #151568);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 8px 20px;
	font: normal 700 24px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	border: none;
	text-decoration: none;
}

input.valider:hover {
	background: #3366ff;
	text-decoration: none;
}
/* réduite taille input number */
input[type="number"] {
	width:75px; /* pb d'affichage avec le % */
}

#footer {

	opacity: 0.9;
	margin-top: 2%;;
	text-align: right;
	position: absolute;
	bottom: 2px;
	right: 2px;
}